<div>

    <div class="heading">
        <h3>about us</h3>
        <p>
            <a routerLink="/home">home</a> / about
        </p>
    </div>

    <section class="about">

        <div class="flex">

            <div class="image">
                <img src="../../../assets/about-img.jpg" alt="" />
            </div>

            <div class="content">
                <h3>why choose us?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus aut hic molestias,
                    reiciendis natus fuga, cumque excepturi veniam ratione iure. Excepturi fugiat placeat iusto facere
                    id officia assumenda temporibus?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quos enim minima ipsa dicta officia
                    corporis ratione saepe sed adipisci?</p>
                <a routerLink="/contact" class="btn btn-primary">contact us</a>
            </div>

        </div>

    </section>

    <section class="reviews">

        <h1 class="title text-center">CLIENT'S REVIEWS</h1>
        
            <app-carousel></app-carousel>
        

    </section>

</div>