<div [ngStyle]="{'margin-top': '7.5rem'}" class="card mb-3 container" *ngIf="products">
    <img [src]="!products.imageLink ? products.imageLink : 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png'"
        [ngStyle]="{ 'width': '50%', 'margin-left': '25rem' }" class="card-img-top" alt="..." />
    <div class="card-body text-center">
        <h5 class="card-title fs-1">Title: {{ products.title }}</h5>
        <p class="card-text fs-2">Author: {{ products.author }}</p>
        <p class="card-text fs-3"><strong class="text-body-secondary">Amount: &#x20B9;{{ products.amount }}</strong></p>
        <div class="d-flex align-items-center justify-content-between">
            <p class="card-text fs-3"><small class="text-body-secondary">Country: {{ products.country }}</small></p>
            <p class="card-text fs-3"><small class="text-body-secondary">Language: {{ products.language }}</small></p>
        </div>
        <button [ngStyle]="{'width': '100%'}" (click)="addItems(products)" type="button" class='btn btn-primary'>Add to
            Cart</button>
    </div>
</div>
